<% include partials/header.ejs %>
<h1> The users are </h1>
<div class="row" style="display : flex;">
<% for(var i = 0 ; i < resume.length ; i++){ %>

     <div class="col-md-4 col-sm-6">
     <img class="avatar thumbnail" src="<%= resume[i]['image']%>" alt="<%= resume[i]['name']%>">
     <figcaption>  <%= resume[i]['name'] %></figcaption><button class="btn btn-primary btn-large" onclick='window.location.href="/view/<%=resume[i]._id%>"'> view resume </button>
   </div>
<%}%>
</div>
<% include partials/footer.ejs %>
