body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-image: url('../images/backImg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: round;
  background-size: cover;
}
